<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <h1>RASPBERRY URL</h1>
          <input [(ngModel)]="raspberryUrl" class="form-control" type="text" name="" id=""
            placeholder="Input your raspberry url" (ngModelChange)="setServiceUrl()">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Kick start -->
    <div class="row">
      <div class="col">
        <div id="kick-start" class="card">
          <div class="card-title">
            <h3>Start</h3>
          </div>
          <div class="card-content">
            <div class="card-body">
              <button type="button" class="btn-lg btn-info" (click)="start()">Start</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="kick-start" class="card">
          <div class="card-title">
            <h3>Init</h3>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="form-group">
                <label for="sem_id">Id</label>
                <input [(ngModel)]="initId" type="number" name="" id="sem_id" min="0" class="form-control">
              </div>
              <br>
              <button type="button" class="btn-lg btn-success" (click)="init()">Init</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="kick-start" class="card">
          <div class="card-title">
            <h3>Stop</h3>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="form-group">
                <label for="sem_id">Id</label>
                <input [(ngModel)]="stopId" type="number" name="" id="sem_id" min="0" class="form-control">
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn-lg btn-danger" (click)="stopOne()">Stop</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="kick-start" class="card">
          <div class="card-title">
            <h3>Change warning state</h3>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="form-group">
                <label for="sem_id">Id</label>
                <input [(ngModel)]="warningId" type="number" name="" id="sem_id" min="0" class="form-control">
                <br>
                <label for="sem_id">Warning State</label>
                <input [(ngModel)]="warningState" type="number" name="" id="sem_id" min="0" max="1"
                  class="form-control">
              </div>
              <br>
              <button type="button" class="btn-lg btn-warning" (click)="changeWarning()">Go</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="kick-start" class="card">
          <div class="card-title">
            <h3>Change Frequency</h3>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="form-group">
                <label for="sem_id">Id</label>
                <input [(ngModel)]="freqId" type="number" name="" id="sem_id" min="0" class="form-control">
                <br>
                <label for="sem_id">New Frequency</label>
                <input [(ngModel)]="newFreq" type="number" name="" id="sem_id" min="0" class="form-control">
              </div>
              <br>
              <button type="button" class="btn-lg btn-primary" (click)="changeFreq()">Go</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
